*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #5e81ac;
  --accent: #d08770;
  --red: #bf616a;
  --yellow: #ebcb8b;
  --purple: #b48ead;
  --green: #a3be8c;
  --dark: #434c5e;
  --dark-2: #69707e;
  --light: #f2f4f8;
  --light-2: #d8dee9;
  --white: #fff;
}

a:link {
  text-decoration: none;
  color: inherit;
}

body {
  font: 400 14px/1.5 Inter, sans-serif;
  color: var(--dark-2);
}

h1,
h2,
h3 {
  color: var(--dark);
}

.container {
  display: grid;
  grid-template-columns: min(250px, 40%) 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  position: relative;
}

.header {
  grid-area: header;
  background-color: var(--white);
  padding: 14px 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--primary);
  color: var(--white);
  padding: 14px 28px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  position: sticky;

  top: 0;
  width: 100%;
  height: 100vh;
}

.main {
  grid-area: main;
  background-color: var(--light);
  padding: 14px 28px;
  display: grid;
  grid-template-columns: 1fr min(250px, 40%);
  grid-row: repeat(2, 1fr);
  gap: 28px;
  font-size: 12px;
  align-items: start;
}

.logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo__image {
  height: 30px;
  filter: invert(100%);
}

.logo__text {
  font-size: 24px;
  color: var(--white);
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav__item {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.search-bar {
  display: flex;
  gap: 14px;
  font-size: 16px;
  align-items: center;
  width: 60%;
}

.search-bar__input {
  width: max(100px, 75%);
  background-color: var(--light);
  border: 0.2mm solid var(--light-2);
  padding: 6px 18px;
  border-radius: 18px;
}

.search-bar__input:focus {
  border: none;
  border: 0.2mm solid transparent;
  outline: 0.2mm solid var(--dark);
  color: inherit;
}

.account {
  color: var(--dark);
  display: flex;
  gap: 20px;
  font-size: 16px;
  align-items: center;
  font-weight: 600;
}

.account__avatar {
  height: 30px;
  border-radius: 50%;
  background-color: var(--accent-2);
}

.account-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 4px 14px;
  font-weight: 600;
  color: var(--dark);
}

.account-info__avatar {
  grid-row: 1 / span 2;
  height: 52px;
  border-radius: 50%;
  align-self: center;
}

.account-info__greeting {
  font-size: 12px;
  align-self: self-end;
  line-height: 1;
}

.account-info__name {
  font-size: 20px;
  line-height: 1;
}

.actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.btn {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 18px;
  min-width: 86px;
  border: none;
  font-weight: 600;
}

.btn--primary {
  color: var(--white);
  background-color: var(--primary);
}

.project {
  grid-row: 1 / span 2;
}

.project__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 28px;
}

.project-item {
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px 28px;
  border-inline-start: 4px solid var(--accent);
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

.project-item__heading {
  font-size: 14px;
  font-weight: 600;
}

.project-item__description {
  margin-block-end: 24px;
}

.project-item__actions {
  margin-top: auto;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 28px;
}

.project__heading,
.announcement__heading,
.trending__heading {
  font-size: 16px;
  margin-block-end: 8px;
}

.announcement__box,
.trending__box {
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

.announcement__item {
  padding-block-end: 12px;
}

.announcement__item:not(:last-child) {
  border-block-end: 1px solid var(--light-2);
}

.announcement__item-heading {
  font-size: 14px;
  font-weight: 500;
  margin-block-end: 4px;
}

.trending__item {
  display: grid;
  gap: 2px 8px;
  grid-template-columns: auto 1fr;
  grid-row: repeat(2, auto);
  margin-bottom: 4px;
}

.trending__avatar {
  grid-row: 1 / span 2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  align-self: center;
}

.trending__username {
  font-size: 12px;
}

.trending__description {
  line-height: 1;
}

.bg-red {
  background-color: var(--red);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-green {
  background-color: var(--green);
}
